@import url(reset.css);
@import url(navbar.css);
@import url(tomatoBranch.css);
@import url(info.css);
@import url(timer.css);
@import url(tasksInfo.css);

:root {
  --white: #fffbf0;
  --yellow: #fedc7b;
  --orange: #f49069;
  --dark-green: #708240;
  --light-green: #abba72;
  --red: #f65959;
  font-size: 14px;
  color: var(--white);
  font-family: "Work Sans", sans-serif;
}
h3 {
  font-family: "Fredoka", sans-serif;
}
html {
  background-color: var(--red);
}
.main-container {
  width: 100%;
  display: flex;
  flex-direction: column-reverse;
}

/* media  */
@media (max-width: 425px) {
  :root {
    font-size: 12px;
  }
}
@media (min-width: 425px) {
  :root {
    font-size: 14px;
  }
}
@media (min-width: 768px) {
  :root {
    font-size: 16px;
  }
  .main-container {
    flex-direction: row;
  }
}
@media (min-width: 1900px) {
  :root {
    font-size: 24px;
  }
}

::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-track {
  background: #df6149;
  border-radius: 0px;
}
::-webkit-scrollbar-thumb {
  background: #f49069;
  border-radius: 10px;
}
