.navbar-container {
  width: 100%;
  padding: 0.5rem 2rem;
  display: flex;
  justify-content: space-between;
  text-transform: uppercase;
  font-size: 1rem;
}
.site-title {
  user-select: none;
  text-align: center;
}
.music,
.settings {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  cursor: pointer;
}
.music h3,
.settings h3 {
  display: none;
}
.navbar-container img {
  width: 1.2rem;
  height: 1.2rem;
}

/* media  */
@media (min-width: 768px) {
  .music h3,
  .settings h3 {
    display: inline;
  }
}
